.table-container {
  overflow: auto;
  max-height: 50vh;

  .completed {
    text-decoration: line-through !important;
  }
}

.tac {
  text-align: center;
}

.w45px {
  width: 45px;
}

.w100p {
  width: 100%;
}

.no-data {
  width: 100%;
  height: 250px;
}

.todo-status {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 25px;
  height: 25px;
  padding: 3px;
  border: 1px solid darkblue;
  border-radius: 50%;

  &.completed {
    background: blueviolet;
    color: white;
  }

  &.waiting {
    background: white;
    color: blueviolet;
  }
}
